@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

/* Home Component */

.home-container {
  color: #fff;
}

.login-btn-wrapper {
  margin-top: 2rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.card {
  max-width: 400px;
  box-shadow: 2px 4px 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border-color: rgba(0, 0, 0, 0.1);
  padding: 1.4rem;
}